<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="page-layout-{{ page.layout | default: 'default' | slugify }}">

    {%- include header.html -%}

    <main class="page-content{% if page.layout == 'post' %} page-content-article{% endif %}" aria-label="Content">
      {%- if page.layout == 'post' -%}
        {{ content }}
      {%- else -%}
        <div class="wrapper page-shell">
          {{ content }}
        </div>
      {%- endif -%}
    </main>

    {%- include footer.html -%}

  </body>

</html>
